:root {
  --color-palette-black: #333;
  --color-palette-white: #f2f2f2;
  --color-palette-oatmeal: #f3e7d0;
  --color-palette-blue: #6174fb;
  --color-palette-green: #8cc7bb;
  --color-palette-yellow: #ebbd37;
  --color-palette-red: #db543c;
  --color-palette-pink: #dfa1c9;
  --color-palette-purple: #a28cc7;

  --color-background: #101010;
}

@font-face {
  font-family: "GmarketSansLight";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansMedium";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansBold";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/GmarketSansTTFBold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  /* 스크롤바 안보이게 하기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* 텍스트 드래그 막기 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100%;
}

/* 스크롤바 안보이게 하기 */
::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
